.split{
  height: 100vh;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.lefty{
  left: 0;
  background-color: bisque;
  
  
}

.lefty::-webkit-scrollbar{
  display: none;
}
.righty{
  right: 0;
  background-color: brown;
}

.centered{
  position: absolute;
  top: 20%;
  text-align: center;
}

.centered img{
  width: 500px;
  align-self: center;
}

.center-text{
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
}

.uptop{
  background-color: rgba(0, 255, 255, 0.142);
  height: 400px;
  width: 100%;
  position: absolute;
  z-index: 2;


}
