/* Your CSS goes here --------------------- */
body{
    margin: 0;
    padding: 0;
}

header h1{
    font-family: 'Space Grotesk', sans-serif;
    color: #b1b1b1;
}

header{
    background-color: #020202;
    height: 50px;
    text-align: center;
    align-items: center;
}

#input{
    background-color: #333333;
    padding: 30px;
}

#output{
    background-color: orange;
}

#imgSelector{
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

label:nth-of-type(1){
    margin-left: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(205, 206, 207);
}

#textIndex{
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

#textIndex2{
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

input{
    font-family: 'Space Grotesk', sans-serif;
}

label{
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(205, 206, 207);
}

#colSelector{
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

.colSelector{
    color: rgb(205, 206, 207);
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 20px;
}

#slider{
    width: 180px;
}

#fontWeight{
    width: 50px;
    height: 30px;
    border-radius: 4px;
}

.fontWeight{
    margin-left: 20px;
}

.Slider{
    margin-left:20px;
}

#output-canvas{
    text-align: center;
    overflow: hidden;
}


/* #loading{
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.ring{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #202020;
    background: transparent;
    animation: animate 1s linear infinite;
}

.text{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 300px;
    font-size: 2em;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes hideAnimation{
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
} */