    
body{
    font-size: 16px;
    background: #000000;
    height: 5500px;
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 7rem;
    top: 0;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(9.5px);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.397);
    z-index: 999;
}

h1{
    margin: 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-family: 'Space Grotesk';
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.48rem;
    text-transform: uppercase;
    color: aliceblue;
}

.header h1 span{
 letter-spacing: 0;
}

.close-button {
    background-color: #ff6347;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#popup-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.popup-container {
    position: absolute;
    left: 50%;
    height: fit-content;
    transform: translate(-50%);
    width: 550px;
    padding: 50px;
    background-image: linear-gradient(180deg, rgba(24, 67, 73, 0.75) -4.95%, rgba(31, 42, 51, 0.75) 20.05%, rgba(140, 86, 87, 0.75) 95.05%);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Space Grotesk';
    color: whitesmoke;
}

.popup-container img {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}
  .swiper {
    width: 600px;
    height: 300px;
  }


@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(0.5) perspective(600px) translateZ(-200px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}


/* Styles for the loading screen */
:root {
    --glow-color: hsl(186 100% 69%);
  }
  
.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 9999; /* Ensure it's on top of other content */
}



/* Styles for the content */
.content {
    display: none;
    /* Add your styles for the main content here */
}
